.flex{
    display:flex;
   
    top: 5px;
    height: 60px;
    justify-content: space-evenly;
    gap:20px;
    background-color: antiquewhite;
}
.flex h2{
    position: relative;
    text-align: center;
    
   
}
.menu{
    display: flex;
    gap:30px;
    position: relative;
  
}
.background{
    height: 300px;
    width: 500px;
    display: flex;
    position: relative;
    margin-left: 100px;
}
.hotel-title{
    font-size: 30px;
}